name: flutter_application_2
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.2
  decimal: ^2.3.0
  intl: ^0.17.0
  google_fonts: ^3.0.1
  hooks_riverpod: ^1.0.4
  fl_chart: ^0.55.1
  page_transition: ^2.0.9
  dio: ^4.0.6
  json_serializable: ^6.4.0
  json_annotation: ^4.7.0
  build_runner: ^2.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  generate: false

  uses-material-design: true
  
  assets:
    - assets/images/
  

  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
